@media screen and (min-width: 1024px) {


    .imagenes::before {
        content: "";
        height: 72px;
        width: 453px;
        background-color: white;
        position: absolute;
        border-radius: 100%;
        bottom: -45px;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        -webkit-box-shadow: 0px 20px 47px -12px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 20px 47px -12px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 20px 47px -12px rgba(0, 0, 0, 0.2);
    }

    .imagenes img:nth-child(1) {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        right: 50%;
    }

    .imagenes img:nth-child(2) {
        position: absolute;
        bottom: -40px;
        left: 20px;
    }

    .imagenes img:nth-child(3) {
        position: absolute;
        bottom: -15px;
        right: -20px;
    }

    .imagenes img:nth-child(4) {
        position: absolute;
        bottom: -10px;
        right: 100px;
    }

    .imagenes img:nth-child(5) {
        position: absolute;
        bottom: -25px;
        right: 45px;
    }
}


@media screen and (min-width: 1199px){
    .imagenes img:nth-child(2) {
        left: 60px;
    }

    .imagenes img:nth-child(3) {
        right: 30px;
    }

    .imagenes img:nth-child(4) {
        right: 150px;
    }

    .imagenes img:nth-child(5) {
        right: 100px;
    }
}